body { 
    background-color: #DAF7A6;
    font-family: 'Rampart One', cursive;
    

}

main {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header {
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid black;
   
}
/* Container holding the image and the text */
.container{
    position: relative;
  }
  
  /* Bottom right text */
  .text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }


article {
    font-size: 3em;
    height: 75%;
    line-height: 1;
    width: 100%;
    
}

footer {
    width: 100%
}

button#myBtn {
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /*Could be more or less, depending on screen size */
  }
/* Modal submit button*/
  button#modalBtn {
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }













/* font-family: 'Rampart One', cursive;
